{{ partial "foamcd/method-tag.html" (slice "is_const" . "success") }}
{{ partial "foamcd/method-tag.html" (slice "is_constexpr" . "primary") }}
{{ partial "foamcd/method-tag.html" (slice "is_defaulted" . "success") }}
{{ partial "foamcd/method-tag.html" (slice "is_deleted" . "danger") }}
{{ partial "foamcd/method-tag.html" (slice "is_explicit" . "success") }}
{{ partial "foamcd/method-tag.html" (slice "is_inline" . "primary") }}
{{ partial "foamcd/method-tag.html" (slice "is_noexcept" . "success") }}
{{ partial "foamcd/method-tag.html" (slice "is_pure_virtual" . "secondary") }}
{{ partial "foamcd/method-tag.html" (slice "is_static" . "primary") }}
{{ partial "foamcd/method-tag.html" (slice "is_virtual" . "secondary") }}
{{ partial "foamcd/method-tag.html" (slice "is_deprecated" . "danger") }}
