{{ 
    replace 
    ( replace 
    ( replace 
    ( replace 
    ( replace 
    ( replace 
    ( replace 
    ( replace 
    ( replace 
    ( replace 
    ( replace 
    ( replace 
    ( replace 
    ( replace 
    ( replace 
    ( replace 
    ( replace 
    ( replace 
    ( replace 
    ( replace 
    ( replace 
    ( replace 
    ( replace 
    ( replace 
    ( replace . "," "2C" )
    "=" "3D")
    "+" "2B")
    "(" "28")
    ")" "29")
    "<" "3C")
    ">" "3E")
    "[" "5B")
    "]" "5D")
    "^" "5E")
    "{" "7B")
    "|" "7C")
    "}" "7D")
    ":" "3A")
    ";" "3B")
    "?" "3F")
    "@" "40")
    "!" "21")
    "#" "23")
    "$" "24")
    "%" "25")
    "&" "26")
    "'" "27")
    "*" "2A")
    "." "2E"
    | urlize }}

